* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: rgb(30, 22, 79);
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#navbar {
  background: rgb(19, 19, 48);
  width: 100vw;
  height: 30px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gamesection{
  width: 1000px;
  height: 1000px;
  border: 2px solid white;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  margin: 2px;
  display: inline-block;
  position: absolute;
}